    body {
        background-image: url(../assets/bg.jpg);
        width: 100%;
        background-size: cover;
        position: relative;
    }
    #header {
        /* border: solid; */
        color: #F89541;
        text-align: center;
        padding: 3%;
        width: 100%;
        font-weight: 800;
        background-color: #292B35;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(129, 124, 124, 0.32);
        /*dim the background*/
    }
    #text2 {
        color: white;
        text-align: center;
        margin: 5% 0%;
    }
    #text1 {
        color: white;
        margin-top: %;
        text-align: center;
        margin: 5% 0%;
    }
    #circle {
        align-items: center;
        width: 50%;
        height: 50%;
    }
    #png {
        text-align: center;
    }
    #text {
        margin: 7% 0%;
    }
    .button.large {
        font-size: 1.25rem;
        padding: 0%;
        border-radius: 16%;
        width: 13%;
        background-color: darkblue;
        border: 1px solid;
        margin: 6%;
    }
    footer {
        color: white;
        height: 30%;
        background-color: grey;
    }
    span {
        border-right: solid 1px black;
    }
