    body {
        background-image: url(../assets/bg.jpg);
        width: 100%;
        background-size: cover;
        position: relative;
    }
    #header {
        /* border: solid; */
        color: #F89541;
        text-align: center;
        padding: 3%;
        width: 100%;
        font-weight: 800;
        background-color: #292B35;
        height: 15%;
    }
    #header h1 {
        padding: 8%;
        margin: auto;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(129, 124, 124, 0.32);
        /*dim the background*/
    }
    #text {
        height: auto;
        margin: 20% 0;
    }
    #text2 {
        color: white;
        text-align: center;
        margin: 5% 0%;
        width: 33%
    }
    #text1 {
        color: white;
        text-align: center;
        margin: 5% 0%;
        width: 33%;
    }
    #circle {
        align-items: center;
        width: 34%;
        height: 50%;
        margin: auto;
    }
    #text-4 {
        color: white;
        text-align: center;
        padding: 3%;
    }
    .button.large {
        font-size: 1.25rem;
        padding: 0%;
        margin: 6% 40%;
        border: 1px solid black;
        background-color: #45474C;
        width: 20%;
        height: 10%;
        border-radius: 3%;
    }
    footer {
        color: white;
        background-color: grey;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10%
    }
    span {
        border-right: solid 1px black;
        padding: 7%;
        margin-left: 3%;
    }
    .main {
        height: 100%;
    }
