body {
    background-image: url(../assets/bg.jpg);
    width: 100%;
    background-size: cover;
}
.large-12 {}
.header {
    /* border: solid; */
    color: #F89541;
    text-align: center;
    padding: 3%;
    width: 100%;
    font-weight: 800;
    background-color: #292B35;
}
